.content {
    min-height:100vh;
    background: url('../Components/img/bg.jpg') left top/100%  no-repeat;
    background-attachment: fixed;
    
}

.content2 {
    min-height:100vh;
    background: linear-gradient(45deg,#0f2027,#203a43,#2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}