.content {
    min-height:100vh;
    background: url('../Components/img/bg.jpg') left top/100%  no-repeat;
    background-attachment: fixed;
}


.content-index {
    min-height:calc(100vh - #{0.5rem});
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size:0.6rem;
    text-shadow: 1px 2px 4px #000;
    background: linear-gradient(20deg,#58a 20%, #fb3 20%, #fb3 60%, #e45b5a 60%);
    background-attachment: fixed;
    
}
.content-index-s {
    background: linear-gradient(60deg,#58a 33%, #fb3 33%, #fb3 66%, #e45b5a 66%);
    background-attachment: fixed;
}
.content-index-t {
    background: linear-gradient(100deg,#58a 50%, #fb3 50%, #fb3 80%, #e45b5a 80%);
    background-attachment: fixed;
}