.blog-item {
    border-radius: 0.1rem;
    background: #fff;
    margin:0.2rem auto;
    width:7rem;
    box-sizing: border-box;
    padding:0.1rem 0.4rem;
    cursor: pointer;
    &:hover {
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,.4);

    }
    h5 {
        font-size:0.18rem;
        font-weight: 500;
        margin:0.1rem 0;
    }
}