.header-menu {
    flex:5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
        margin:0 0.3rem;
        color:#fff;
        &:hover {
            color:#000 !important;
            transition: 0.6s;
        }
    }
    li {
        margin:0 0.2rem;
        line-height: 0.4rem;
        letter-spacing: 0.04rem;
    }
}