body {
    font-size:0.14rem;
    &::-webkit-scrollbar { width: 0 !important }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
ul,li {
    margin:0;
    padding:0;
    list-style: none;
}
a {
    color:#000;
    text-decoration: none;
}
p {
    margin:0;
}